page-login {

    .swipe-area {
        height:100%;
        width:100%;
      }

      .top-10{
        margin-bottom: 10%;
    }

    img{
        width: 180px;
    }
    .buttontop{
        margin-top: 10%;
        border-radius: 50px;
        border: 1px solid white;
    }

    .masters{
            background-color: #0091CD;
    }

    .olvidaste{
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: 800;
        cursor: pointer;
    }

   

    input {
       
           color:white;
        
    }

    .item-ios{
        color: black; //floating input label color
    }


    .mastersmargin{
        background-color: #0091CD;

    }
    .form{
        padding: 5px 50px 50px 50px;
    }

    ion-icon { 
        font-size: 15px;
    }


}
