page-principal {

    ion-content{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        
            }

            .centrado{
                margin-top: 60%
            }
 
            span{
                margin-left: 5px;
            }

            .round2 {
                border-radius: 50px;
                padding: 30px 20px;
                border: 2px solid #0091CD;
                color:#0091CD;
              }

              .round3{
                border-radius: 50px;
                padding: 30px 40px;
                border: 2px solid #0091CD;
                color:#0091CD
              }


            //Menu

         
                img {
                  width: 120px !important;
                  text-align: center;
                }
              


                #menuProfile.item .label {
                  h2,
                  h5 {
                    color: #FFFFFF;
                  }
                }


                .toolbar .item h2 {
                  font-size: 1.9rem;
                  font-weight: 300;
                  color: #FFFFFF;
                }
                .toolbar .item h5 {
                  font-size: 1.2rem;
                  font-weight: 200;
                  color: #FFFFFF;
                }

                #menulist{
                  margin-top: 20px;
                }
               
                #menulist.list .item .item-inner,
                #menutoolbar.toolbar .item .item-inner {
                  border-bottom: 0px;
                }
                .menu-inner .item-divider {
                  height: 1px;
                  min-height: 1px;
                  background-color: #ccc;
                }
                .item.divider {
                  border-bottom: 1px solid #dedede;
                }
                .item .icon {
                  color: #787878;
                }
              


          



}
