page-home {
    
//     ion-content{
// /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
// background: rgb(255,255,255); /* Old browsers */
// background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

//     }

    img{
        width: 200px;
    }
 
    .top-30{
        margin-top: 30%
    }
 
    .top-5{
        margin-top: 5%
    } 

    p{
        color:#a09d9d;
    }

    .masters{
        background-color: #ECF5F7;
    }

    .round {
        width: 60px;
        height: 60px;
        border-radius: 60%;
        vertical-align: middle;
      }

      .round2 {
        border-radius: 50px;
        padding: 10px 20px;

      }
      h4{
        color: #13a5e7;
        font-weight: bold;
      }

      .left{
          margin-left: 5px;
      }
      

      .left{
          margin-left: 6px;
          margin-top: 5px;
      }

      .top-10{
        margin-top:10%; 
    }

    ion-icon { 
        font-size: 20px;
    }
      

  

}




