// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.text-input::-moz-placeholder {
    color: #e5e5e5;
  }
  
  .text-input:-ms-input-placeholder {
    color: #e5e5e5;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #e5e5e5;
  }


  ion-alert {
    &.alert-warning {
      .alert-head {
        background: map-get($colors, warning);
        color: #fff;
        margin-bottom: 10px;
      }
    }
    &.alert-danger {
      .alert-head {
        background: map-get($colors, danger);
        color: #fff;
        margin-bottom: 10px;
      }
    }
    &.alert-success {
      .alert-head {
        background: map-get($colors, success);
        color: #fff;
        margin-bottom: 10px;
      }
    }
  
  }
